<h1>MOST RATING MOVIES</h1>
{{#each datarank}}
<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="{{image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}} - Rating: {{rating}}</h5>
    <p class="card-text" style="height: 150px; overflow: scroll">{{synopses}}</p>
    <a href="/detail/{{id}}" class="btn btn-primary">Detail</a>
  </div>
</div>
{{/each}}

<div class="">{{id}}</div>